// blues
$blu: #bcd3fde7; 
$blu1: #e9f1ff; 
$blue: #499bee;
$blue1: #2d7ac8;
$blue2: #5386E4;
$blue3: #3A6EA5;
$blue4: #2B4570;
$blue5: #2A324B;
$blue6: #001427;

// purples
$lilac: #8D5A97;

//greys
$grey1: #EBEBEB;
$grey2: #C0C0C0;
$grey3: #DCE1E9;
$grey4: #b4b4b4;
$grey5: #333333;

//reds
$red: #721817;
$red2: #650D1B;

//greens
$green: #0B6E4F;
$green2: #5B7553;
$green3: #003844;

// dropdown bg
$dropdown-bg: #e3edffe7; 
