{% block sidebar %}
    <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap"><span class="hide-menu">Quick Links</span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Dashboards
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Main Dashboard
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}income_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            Incomes Dashboard
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}expense_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            Expenses Dashboard
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}invest_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            Investments Dashboard
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Transactions
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add Transaction
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}income_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            Today's Transactions
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}expense_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            This Week's Transactions
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{dashPath}}invest_dash" class="sidebar-link">
                                        <span class="hide-menu">
                                            This Month's Transactions
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Items
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="form-inputs.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Item
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="form-inputs.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Item Group
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="form-input-grid.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Search Items
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="form-checkbox-radio.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            View Items List
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Categories
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{categories}}all" class="sidebar-link">
                                        <span class="hide-menu">
                                            Categories List
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{categories}}add" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Category
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Units of Measure
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{uomPath}}all" class="sidebar-link">
                                        <span class="hide-menu">
                                            Units List
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{uomPath}}add" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Unit
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>

                        <li class="nav-small-cap"><span class="hide-menu">Transactions</span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ticket-list.html" aria-expanded="false">
                                <i data-feather="tag" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Today's Transactions
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="app-chat.html" aria-expanded="false">
                                <i data-feather="message-square" class="feather-icon"></i>
                                <span class="hide-menu">
                                    This Week
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="app-calendar.html" aria-expanded="false">
                                <i data-feather="calendar" class="feather-icon"></i>
                                <span class="hide-menu">
                                    This Month
                                </span>
                            </a>
                        </li>

                        <li class="list-divider"></li>

                        <li class="nav-small-cap">
                            <span class="hide-menu">
                                Items
                            </span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Product Items
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="form-inputs.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Item
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="form-input-grid.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Search Items
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="form-checkbox-radio.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            View Items List
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="grid" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Service Items
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="table-basic.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add Service Item
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="table-dark-basic.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            View All Services
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="list-divider"></li>

                        <li class="nav-small-cap">
                            <span class="hide-menu">
                                Categories
                            </span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="{{categories}}"
                                aria-expanded="false">
                                <i data-feather="lock" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Categories Home
                                </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Categories Management
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="{{categories}}add" class="sidebar-link">
                                        <span class="hide-menu">
                                            Add New Category
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="{{categories}}all" class="sidebar-link">
                                        <span class="hide-menu">
                                            All Categories
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                <i data-feather="grid" class="feather-icon"></i>
                                <span class="hide-menu">
                                    Categories Reports
                                </span>
                            </a>

                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="table-basic.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Highest Cost Categories
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="table-dark-basic.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Most Active Categories
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="../../docs/docs.html"
                                aria-expanded="false"><i data-feather="edit-3" class="feather-icon"></i><span
                                    class="hide-menu">Documentation</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="authentication-login1.html"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">Logout</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
{% endblock sidebar %}